@import '~bootstrap/scss/bootstrap';

body {
  background-color: aliceblue;
}

.font-1 {
  font-size: 1rem;
}

.bg-overlay {
  background: rgba(0,0,0,0.7);
}

.rating {
  cursor: pointer;
}

.star {
  animation-duration: 0.4s;
}

.watched-icon {
  cursor: pointer;
  font-size: 30px;
  top: 0;
  right: 0;
  position: absolute;
  color: white;
  margin: 0.25rem;
}

.rating-icon {
  cursor: pointer;
  font-size: 15px;
  top: 0;
  left: 0;
  margin: 0.25rem;
  padding: 0;
  position: absolute;
}

.delete-movie-icon {
  cursor: pointer;
  transform:
  rotate(45deg);
  font-size: 30px;
  top: 0;
  right: 0;
  position: absolute;
  color: white;
  margin: 0.25rem;
}

@keyframes bounce {
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}
